.subtitulo4 {
	color: #CC0033;
	font-weight: bolder;
	font-size: 30px;
}

.faqs {
	background-image: url(grafica/perchas.png);
	background-size: 100vw 100vh;
	background-attachment: fixed;
	margin: 0;
}

#faqs2 {
	width: 80%;
	margin: auto;
	background-color:rgba(0,0,0,0.6);
	padding: 10px 20px;
	box-sizing: border-box;
	border-radius: 2px;
}

.subtitulo5 {
	color: #fff;
	text-align: left;
	font-size: 20px;
	font-weight: bold;
}

.disfruta {
	color: pink;
	font-weight: bold;
	list-style: none;

}

.tiempo {
	font-style: italic;
	color: #990033;
	font-size: 27px;
}

.li-faqs {
	color: #fff;
	font-size: 13px;
	list-style: none;
	text-align: justify;

}

